<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Matching</title>
</head>
<body>
    <h1>Face Matching</h1>
    
    <form action="/match_faces" method="post">
        <input type="submit" value="Match Faces">
    </form>
    <div id="result"></div>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Matching</title>
</head>
<body>
    <h1>Face Matching</h1>
    <form action="/match_faces" method="post">
        <h1>It will run 10 sec</h1>
        <input type="submit" value="Match Faces">
    </form>
    <div id="result"></div>


</body>
</html>





